
.logo{
    height: 45px;
}
.logo:hover{
    border: 5px dashed #1C6EA4;
    border-color: yellow;
}

.title{
    font-family: 'Courier New', Courier, monospace;
}
.header{
    display: flex;
    justify-content: space-around;
}
.buttonCart{
    background: none;
    border: 0;
    color: inherit;
    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 0;
}

.buttonCart:hover{
    background-color: rgb(77, 77, 77);
    width: 40px;
    height: 40px;
}

.imgCart{
    width: 40px;
    height: 40px;
}


.nav-link{
    display: inline-block;
    background-color: #292828;
    color:#ffffff;
    padding: 10px 30px;
    text-decoration: none;
}

.stylebutton{
    background: rgb(59, 59, 59);
    border: 0;
    overflow: visible;
    padding: 0;
    padding:7px;
}

.nav-link:hover{
    background-color: rgb(93, 92, 94);
}

.navBar{
    background-color: rgb(20, 20, 20);
    padding: 10px;
    display: flex;
    justify-content:space-around;
}

.menu{
    background-color: #292828;
    color:#ffffff;
    padding: 10px 30px;
    border: 1px solid #979797;
    display: none;
}

/* .product img{
    width: 300px;
    cursor:pointer; 
} */
/* .product{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
} */

.container{
    margin:0;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    display: flex;
    justify-content: center;
}

.flex{
    display: flex;
    flex-wrap: wrap;
}

.imgCell{
    width: 175px;
}

.price{
    font-size: 40px;
    color:rgb(11, 117, 25);
}

.column{
    background-color: beige;
    border: 1px solid;
    border-radius: 10px;
    margin: 10px ;
    padding: 67px; 
    box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, -50px -50px 0px -30px rgba(0,0,0,0);
    width: 23%;
    box-sizing: border-box;
}

.buy{
    display: block;
    background: rgb(7, 100, 7) ;
    padding:10px;
    border-radius: 4px;
    color: ivory;
    text-decoration: none;
    margin-bottom: 10px;
}

.buy:hover{
    background-color: rgb(29, 56, 2);
}

.noView{
    display: none;
}
.noView1{
    display: none;
}

@media (max-width: 600px){
    .logo{
        height: 30px;
        position: relative;
        top: 20px;
    }
    .navBar{
        background-color: rgb(78, 77, 78);
        padding: 1px;
        display: flex;
        flex-direction: column;
    }
    .nav-link{
        margin: 1px 1px;

    }
    .menu{
        display: inline-block;
    }
    .dissapear{
        display: none;
    }
    
}

@media(max-width:1070px){
    .column{
        width: 45%;
        margin-bottom: 22px;
    }
}

@media(max-width: 600px){
    .column{
        width: 70%;
        margin-bottom: 15px;
        
    }
    .container{
        display: flex;
        justify-content: center;
    
    }
}
